*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #f5f3df;
    background-image: url("/assets/imgs/foodiegoodieBckgr.png");
    background-size: 100%;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  
h1, h2, h3{
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    
}
p, ul, li, footer{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}


/*header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #C8E594;
    border-radius: 100px;
    margin: 20px;

}
header .logoContainer img{
    width:200px;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}
header nav ul li {
    justify-content: center;
}*/

header {
    background-color: #C8E594;
    position: relative;
}

.logoContainer img {
    width: 300px;
    display: block;
    margin: 0 auto;
    position: relative; 
    z-index: 10; 
    top: 10px;
}

nav {
    width: 95%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -35px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 200px;
    padding: 10px;
    background-color: #f5f3df;
    border-radius: 50px;
    border: 2px solid black;
}
nav ul li {
    display: inline;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #d68c5d;
    transition: 0.3s;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px; 
    justify-content: center;
    background-color: #f5f3df;
    color: gray;
    margin-top: 100px;
}

  
.hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f3df;
    background-image: url('../imgs/foodiegoodieBanner.png');
    border: 2px solid black;
    background-size: 102%;
    border-radius: 50px;
    margin: 20px;
    padding: 40px;
    color: black;
   
}
  
.hero h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    
}

.hero p, .hero h1{
    margin-left: 300px;
}

.hero-image img {
    width: 60%;
    margin-top: 70px;
    margin-left: 10px;
}

.recetasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recetas {
    max-width: 1200px;
    margin: 0 auto;
}
.recetas h2{
    text-align: center;
    background: #E6AF8C;
    border: 2px solid black;
    font-weight: 700;
    padding: 10px;
    border-radius: 50px;
}

.receta {
    display: flex;
    flex-direction: column;
    background-color: #f5f3df;
    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 8px 8px 0px black; 
}


.receta img {
    width: 100%;
    height: 180px;
    object-fit: cover; 
}

.receta h3 {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 15px;
}

.receta a {
    display: block;
    text-align: center;
    background-color: #E6AF8C;
    color: white;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: auto;
}

.receta a:hover {
    background-color: #d68c5d;
}

.toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 100;
    cursor: pointer;
  }


  
@media screen and (max-width: 768px) {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .logoContainer img {
      width: 250px;
    }
  
    .toggle {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        position: absolute;
        top: 25px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
      }
    
      nav {
        display: none;
      }
    
      nav.active {
        display: block;
        position: absolute;
        top: 80px;
        left: 5%;
        width: 90%;
        border-radius: 50px;
        z-index: 50;
      }
    
      nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        background-color:#03030377;
        border: none;
        margin-top: 65px;
      }
    
      nav ul li {
        text-align: center;
        background-color:#f5f3df;
        border-radius: 50px;
      }

  
    .hero {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding: 20px;
      background-size: 367%;
    }
  
    .hero h1, .hero p {
      margin-left: 0;
    }
  
    .hero-image img {
      width: 100%;
      margin: auto;
    }

    .recetas h2{
        margin: 2%;
    }
  
    .recetasGrid {
      grid-template-columns: 1fr;
    }
  
    .receta img {
      height: 150px;
    }
  
    footer {
      flex-direction: column;
      text-align: center;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 844px) and (orientation: landscape) {
    .hero p, .hero h1{
        margin-left: 140px;
    }
    .hero-image img {
        width: 100%;
      }
  }